---
title:          "Insights from Verification: Training a Verilog Generation LLM using Reinforcement Learning with Testbench Feedback"
date:           2026-01-01 00:04:00 +0800
selected:       false
pub:            "Design Automation Conference (DAC)"
pub_date:       "2026"
abstract: >-
  Training a Verilog generation large language model using reinforcement learning with testbench feedback.
authors:
  - Ning Wang
  - Bingkun Yao
  - Jie Zhou
  - Yuchen Hu
  - Xi Wang
  - Zhe Jiang
  - Nan Guan
---
